.ramiel {
    width: 200px;
    height: 200px;

    .prisme {
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        animation: rotate 4s linear infinite;
    }

    .face {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid transparent;
        background-size: cover;
        background-position: center;
    }

    .front {
        transform: rotateY(0deg) rotateX(30deg) translateZ(29px);
        border-bottom-color: #0bf;

        &.inverse {
            transform: rotateZ(180deg) rotateY(0deg) translateY(43px) rotateX(30deg) translateZ(29px);
            border-bottom-color: #09f;
        }
    }

    .back {
        transform: rotateY(180deg) rotateX(30deg) translateZ(29px);
        border-bottom-color: #19f;

        &.inverse {
            transform: rotateZ(180deg) rotateY(180deg) translateY(43px) rotateX(30deg) translateZ(29px);
            border-bottom-color: #17f;
        }
    }

    .left {
        transform: rotateY(-90deg) rotateX(30deg) translateZ(29px);
        border-bottom-color: #39f;

        &.inverse {
            transform: rotateZ(180deg) rotateY(-90deg) translateY(43px) rotateX(30deg) translateZ(29px);
            border-bottom-color: #45f;
        }
    }

    .right {
        transform: rotateY(90deg) rotateX(30deg) translateZ(29px);
        border-bottom-color: #18f;

        &.inverse {
            transform: rotateZ(180deg) rotateY(90deg) translateY(43px) rotateX(30deg) translateZ(29px);
            border-bottom-color: #47f;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(1turn);
    }
}